.etLinkStyles {
  text-decoration: none;
}

.link {
  text-decoration: none;
  padding: 24px 0;
}

.active {
  color: #0b44cd;
}

.navigation {
  display: flex;
  column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .navigation {
    column-gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    column-gap: 32px;
  }
}
