.catalogButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3470ff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  transition: background-color 250ms ease;
  width: 276px;
  height: 44px;
  text-align: center;
}

.catalogButton:hover,
.catalogButton:focus {
  background-color: #0b44cd;
}

@media (max-width: 600px) {
  .catalogButton {
    width: 100%;
    font-size: 15px;
    height: 40px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .catalogButton {
    width: 80%;
    font-size: 16px;
    height: 44px;
  }
}
@media (min-width: 1025px) {
  .catalogButton {
    width: 276px;
    font-size: 16px;
    height: 44px;
  }
}
